/* pet-palace/src/components/Header.css*/

.header {
  background: var(--header-bg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 100;
  /* transition: background 0.3s ease; */
}

.header-container {
  max-width: 1300px;
  margin: auto;
  padding: 14px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 22px;
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav a {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  padding: 10px 16px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}


.nav a:hover {
  color: #b48660;
}

/* Cart */
.cart {
  position: relative;
  font-size: 20px;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 11px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Auth */
.auth-btn {
  background: var(--primary);
  color: white;
  padding: 6px 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Theme button */
.theme-btn {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

/* Mobile */
.menu-btn {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: var(--header-bg);
    flex-direction: column;
    padding: 20px;
    display: none;
  }

  .nav.open {
    display: flex;
  }
}
